<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="segmento">
      <mat-header-cell *matHeaderCellDef> Segmento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.segmento}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dataInicio">
      <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataInicio | date:'d/M/yyy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dataTermino">
      <mat-header-cell *matHeaderCellDef> Término </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataTermino  | date:'d/M/yyy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="instrutores">
      <mat-header-cell *matHeaderCellDef> Instrutores </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="dialogProfessores(element.instrutores)" matTooltip="Visualizar">
            {{element.instrutores.length}} 
        </button>        
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  fxFlex="15"> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15" class="buttons">
         <button mat-icon-button matTooltip="QrCode">
              <mat-icon class="md-24" (click)="qrCode(element)" aria-label="QrCode">screen_lock_portrait</mat-icon>
         </button>
         <button mat-icon-button color="primary"  matTooltip="Editar">
            <mat-icon class="md-24"  (click)="editar(element.id)" aria-label="Editar">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Remover">
              <mat-icon class="md-24" (click)="remover(element.id)" aria-label="Remover">delete</mat-icon>
          </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="noResults$" class="noResult">Nenhum resultado</div>
  <button mat-fab color="primary">
    <mat-icon class="mat-24" routerLink="/main/disciplina/adicionar" aria-label="Adicionar">add</mat-icon>
  </button> 
</div>