<form [formGroup]="form" fxLayout="column">
  <mat-form-field fxFlex="100"> 
    <input matInput formControlName="nome" placeholder="Nome" value="" required>
    <mat-error *ngIf="form.controls['nome'].hasError('required')">
      Campo obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100"> 
    <input matInput formControlName="email" placeholder="E-mail" value="" required>
    <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
      E-mail inválido
    </mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      Campo obrigatório
    </mat-error>
  </mat-form-field>
  <div fxFlex="100" fxLayout="row">
    <mat-form-field fxFlex="47"> 
      <input matInput formControlName="login" placeholder="Login" value="" required>
      <mat-error *ngIf="form.controls['login'].hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>
    <span fxFlex="5"></span>
    <mat-form-field fxFlex="47"> 
      <mat-select formControlName="perfil" placeholder="Perfil" required>
          <mat-option *ngFor="let profile of profiles" [value]="profile.value">
            {{ profile.description }}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['perfil'].hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex="100" fxLayout="row">
    <mat-form-field fxFlex="47"> 
      <input matInput formControlName="senha" placeholder="Senha" type="password" value="" required>
      <mat-error *ngIf="form.controls['senha'].hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>
    <span fxFlex="5"></span>
    <mat-form-field fxFlex="47"> 
      <input matInput formControlName="confirmacao" placeholder="Confirmação" type="password" value="" required>
      <mat-error *ngIf="form.controls['confirmacao'].hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="form.controls['confirmacao'].hasError('passwordsEqual')">
        Confirmação inválida
      </mat-error>
    </mat-form-field>
  </div>
  <br/>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button color="primary"  [disabled]="!form.valid" (click)="salvar()">Cadastrar</button>
      <button mat-raised-button color="warn" routerLink="/main/usuario/consulta">Cancelar</button>
  </div>
</form>