<div  fxLayout="column">
  <form [formGroup]="form"  fxLayout="column">
    <div fxFlex="100" fxLayout="row">  
      <mat-form-field fxFlex="47"> 
        <mat-select formControlName="segmento" placeholder="Segmento" >
            <mat-option *ngFor="let seg of segmentos" [value]="seg.value">
              {{ seg.description }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['segmento'].hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
      <span fxFlex="5"></span>
      <mat-form-field fxFlex="47"> 
        <input matInput formControlName="descricao" placeholder="Descrição" >
        <mat-error *ngIf="form.controls['descricao'].hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="row">
      <mat-form-field fxFlex="47"> 
        <input matInput (keypress)="openCalendar(dtInicio);" formControlName="dataInicio" [matDatepicker]="dtInicio" placeholder="Data Início">
        <mat-datepicker-toggle matSuffix [for]="dtInicio"></mat-datepicker-toggle>
        <mat-datepicker #dtInicio touchUi="true"></mat-datepicker>
        <mat-error *ngIf="form.controls['dataInicio'].hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
      <span fxFlex="5"></span>
      <mat-form-field fxFlex="47"> 
        <input matInput (keypress)="openCalendar(dtTermino);" formControlName="dataTermino" [matDatepicker]="dtTermino" placeholder="Data Término">
        <mat-datepicker-toggle matSuffix [for]="dtTermino"></mat-datepicker-toggle>
        <mat-datepicker #dtTermino touchUi="true"></mat-datepicker>
        <mat-error *ngIf="form.controls['dataTermino'].hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="row">
      <mat-form-field fxFlex="75"> 
          <input matInput formControlName="urlLogo" placeholder="Url Logo" >
          <mat-error *ngIf="form.controls['urlLogo'].hasError('required')">
            Campo obrigatório
          </mat-error>
      </mat-form-field>
      <span fxFlex="5"></span>
      <img class="urlLogo" [src]="form.controls['urlLogo'].value" (error)="failLoad($event)"/>
    </div>
    <div fxFlex="100" fxLayout="row">
      <mat-form-field fxFlex="75"> 
        <mat-select [(ngModel)]="selectProf" [ngModelOptions]="{standalone: true}" placeholder="Professores" >
            <ng-container *ngFor="let prof of professores">
              <mat-option *ngIf="!prof.selected" [value]="prof">
                {{ prof.nome }}
              </mat-option>
            </ng-container>
        </mat-select>
        <mat-hint>
            Necessário pelo menos 2 professores cadastrados
        </mat-hint>
      </mat-form-field>
      <span fxFlex="5"></span>
      <button mat-raised-button  mat-icon-button color="primary" type="button" [disabled]="selectProf == null" (click)="addProfessor()">
          <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-list *ngIf="form.get('instrutores').value.length > 0">
        <h3 mat-subheader>Professores selecionados</h3>
        <ng-container *ngFor="let id of form.get('instrutores').value">
          <mat-list-item>
              <button mat-mini-fab type="button" color="warn" (click)="removerProfessor(id)">
                  <mat-icon>delete</mat-icon>
              </button>
              <p fxFlexOffset="10px">
                {{nomeProfessor(id)}}
              </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
    <br/>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-raised-button color="primary"  [disabled]="!form.valid || form.get('instrutores').value.length < 2" (click)="salvar()">{{ identifier ? 'Salvar' : 'Cadastrar'}}</button>
        <button mat-raised-button color="warn" routerLink="/main/disciplina/consulta">Cancelar</button>
    </div>
  </form>
</div>